# TODO(spatel): Remove once integrated with a packaged version of swagger_spec_validator
#-e /nail/home/spatel/git/swagger_spec_validator_analogue
-e git://github.com/Yelp/swagger_spec_validator.git@#egg=swagger-spec-validator
jsonref