attrs==23.1.0
Automat==22.10.0
bottle==0.12.25
cfgv==3.3.1
constantly==15.1.0
crochet==2.0.0
distlib==0.3.6
exceptiongroup==1.1.2
fido==4.2.2
filelock==3.12.2
httpretty==1.1.4
hyperlink==21.0.0
identify==2.5.24
idna==3.4
importlib-metadata==6.7.0
incremental==22.10.0
iniconfig==2.0.0
mock==5.0.2
nodeenv==1.8.0
packaging==23.1
platformdirs==3.8.1
pluggy==1.2.0
pre-commit==2.21.0
pytest==7.4.0
PyYAML==6.0
six==1.16.0
tomli==2.0.1
Twisted==22.10.0
typing_extensions==4.7.1
virtualenv==20.23.1
wrapt==1.15.0
yelp-bytes==0.4.4
yelp-encodings==2.0.0
zipp==3.15.0
zope.interface==6.0
