---
name: build
on: push
jobs:
  tox:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        python:
          - py37
          - py38
        httplib:
          - default
          - fido
          - fido-requests2dot17
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - run: pip install tox
      - run: tox -e ${{ matrix.python }}-${{ matrix.httplib }}

  misc:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        tox:
          - mypy
          - pre-commit
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - run: pip install tox
      - run: tox -e ${{ matrix.tox }}
